:root {
    --background: hsl(0, 0%, 15%);
    --background-secondary: hsl(0, 0%, 8%);
    --foreground: hsl(0, 100%, 100%);
    --foreground-secondary: hsl(0, 100%, 90%);

    --element-background: hsl(0, 0%, 15%);

    --link: hsl(266, 73%, 74%);
    --link-hover: hsl(266, 73%, 68%);
    --link-secondary: hsl(0, 0%, 75%);
    --link-secondary-hover: hsl(0, 0%, 65%);

    --border-color: hsl(0, 0%, 25%);
    --card-border: hsl(257, 50%, 15%);
    --border-color-hover: hsl(0, 0%, 30%);

    color-scheme: dark;
}

#purple {
	color: rgb(182, 139, 237);
}

#has-background {
	background-image: url('/static/img/background_dark.png');
}

.type-selectors img {
    filter: brightness(400);
}

.type-selectors #active img {
    filter: none;
}