:root {
	--bg-color-m: rgb(238, 238, 238);
	--fg-color-m: #2B2B2B;
	--ms-color-bg-m: rgb(224, 224, 224);
	--sb-color-bg-m: rgb(194, 194, 194);
	--ib-color-bg: rgba(0, 0, 0, 0.08);
	--a-color: #a509ba;
	--a-color-h: #7b098a;
}