:root {
    --background: hsl(210, 20%, 18%);
    --background-secondary: hsl(210, 20%, 12%);
    --foreground: hsl(210, 30%, 95%);
    --foreground-secondary: hsl(210, 20%, 85%);

    --element-background: hsl(210, 20%, 15%);

    --link: hsl(190, 60%, 50%);
    --link-hover: hsl(190, 60%, 45%);
    --link-secondary: hsl(200, 30%, 70%);
    --link-secondary-hover: hsl(200, 30%, 60%);

    --border-color: hsl(200, 10%, 30%);
    --card-border: hsl(190, 40%, 15%);
    --border-color-hover: hsl(200, 10%, 35%);

    color-scheme: dark;
}

#purple {
    color: hsl(190, 60%, 50%);
}

.type-selectors img {
    filter: brightness(400);
}

.type-selectors #active img {
    filter: none;
    filter: hue-rotate(300deg) brightness(1.45);
}