body{
	background-color: var(--bg);
	color: var(--fg-main);
	margin: 0 25%;
	font-family: monospace;
	font-size: 20px;
}

h1{
	font-size: 24px;
}

a{
	color: var(--fg-a);
	text-decoration: none;
}

.title{
	margin-bottom: 0;
}

.description {
	color: rgba(200,200,200);
	font-size: 16px;
	margin: 0;
}

a:hover{
	text-decoration: underline;
	color: var(--fg-a);
}

hr{
	border: 1px solid white;
}

.post{
	margin: 25px 0;
}

.post p:first-child {
	margin-top: 0;
}

.post p {
	margin-top: 20px;
}