:root {
    --background: hsl(330, 20%, 95%);
    --background-secondary: hsl(330, 20%, 90%);
    --foreground: hsl(330, 10%, 15%);
    --foreground-secondary: hsl(330, 10%, 25%);

    --element-background: hsl(330, 20%, 92%);

    --link: hsl(330, 70%, 50%);
    --link-hover: hsl(330, 70%, 45%);
    --link-secondary: hsl(330, 10%, 70%);
    --link-secondary-hover: hsl(330, 10%, 60%);

    --border-color: hsl(330, 5%, 25%);
    --card-border: hsl(330, 30%, 15%);
    --border-color-hover: hsl(330, 5%, 30%);

    color-scheme: light;
}


#purple {
	color: rgb(113, 84, 151);
}

#has-background {
	background-image: url('/static/img/background_candy.png');
}

.type-selectors img {
    filter: brightness(0);
}

.type-selectors #active img {
    filter: none;
}