:root {
	--bg-color-m: rgb(26, 26, 26);
	--fg-color-m: rgb(255, 255, 255);
	--f-bg: rgb(20, 20, 20);
	--border-color: rgb(56, 56, 56);
	--search-bg-color: rgb(34, 34, 34);
	--search-border-color: rgb(51, 51, 51);
	--search-border-color-h: rgb(60, 60, 60);
	--sbutton-bg: rgb(17, 17, 17);
	--info-bg: rgb(20, 20, 20);
	--a-color: rgb(183, 81, 255);
	--a-f-color: rgb(185, 185, 185);
	--a-color-h: rgb(163, 61, 235);
	color-scheme: dark;
}

#purple {
	color: rgb(182, 139, 237);
}
