:root {
	--bg-color-m: rgb(255, 255, 255);
	--fg-color-m: rgb(0, 0, 0);
	--f-bg: rgb(182, 182, 182);
	--border-color: rgb(0, 0, 0);
	--search-bg-color: rgb(225, 225, 225);
	--search-border-color: rgb(14, 14, 14);
	--search-border-color-h: rgb(24, 24, 24);
	--sbutton-bg: rgb(17, 17, 17);
	--info-bg: rgb(199, 199, 199);
	--a-color: rgb(176, 66, 255);
	--a-color-h: rgb(148, 31, 231);
}
