:root {
    --background: hsl(0, 0%, 95%);
    --background-secondary: hsl(0, 0%, 90%);
    --foreground: hsl(0, 0%, 15%);
    --foreground-secondary: hsl(0, 0%, 25%);

    --element-background: hsl(0, 0%, 90%);

    --link: hsl(210, 60%, 40%);
    --link-hover: hsl(210, 60%, 35%);
    --link-secondary: hsl(0, 0%, 50%);
    --link-secondary-hover: hsl(0, 0%, 40%);

    --border-color: hsl(0, 0%, 80%);
    --card-border: hsl(210, 30%, 85%);
    --border-color-hover: hsl(0, 0%, 75%);

    color-scheme: light;
}

#purple {
	color: rgb(135, 93, 189);
}

#has-background {
	background-image: url('/static/img/background_light.png');
}

.type-selectors img {
    filter: brightness(0);
}

.type-selectors #active img {
    filter: none;
}