body {
	margin: 0;
	background-color: var(--bg-color-m);
	background-size: cover;
	background-repeat: no-repeat;
	color: var(--fg-color-m);
	font-family: sans-serif;
	font-size: 16px;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 10px;
	background-color: var(--f-bg);
	border-top: 1px solid var(--border-color);
}

.footer a {
	color: var(--a-f-color);
	font-weight: normal;
	margin: 10px;
}

.indexform {
	text-align: center;
	margin-top: 10%;
}

.indexform h1 {
	font-size: 58px;
}

.indexform input[type="search"] {
	padding: 10px;
	font-size: inherit;
	max-width: 500px;
	width: 100%;
	outline: 0;
	margin-right: 0;
	border-radius: 18px 0 0 18px;
	background-color: var(--search-bg-color);
	border: 1px solid var(--search-border-color);
	border-right: none;
	color: var(--fg-color-m);
}

.indexform input[type="search"]:focus {
	border: 1px solid var(--search-border-color-h);
	border-right: none;
}

.indexform button {
	color: var(--fg-color-m);
	font-size: 16px;
	background-color: var(--search-bg-color);
	outline: 0;
	border: 1px solid var(--search-border-color);
	padding: 10px 20px 10px 20px;
	border-radius: 0 18px 18px 0;
	margin-left: 0;
	display: flex;
	align-items: center;
}

.search-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.indexform button img {
	width: 16px;
	height: 16px;
	margin-right: 3px;
}

.indexform button:hover {
	border: 1px solid var(--search-border-color-h);
}

#purple {
	color: rgb(197, 52, 255);
}

a {
	color: var(--a-color);
	text-decoration: none;
	font-weight: bold;
}

button {
	cursor: pointer;
}

.results {
	margin-bottom: 45px;
}

.flogo {
	height: 16px;
	margin-right: 3px;
}

hr {
	border-color: var(--border-color);
	color: var(--border-color);
	background-color: var(--border-color);
}

.a-result {
	max-width: 600px;
	margin-bottom: 20px;
	margin-left: 80px;
	padding: 15px;
}

.a-result p {
	margin-top: 1px;
	padding-top: 0;
}

.a-result span {
	color: gray;
	font-weight: normal;
}

.a-result h2 {
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

.a-result h2:hover {
	text-decoration: underline;
}

.infobox {
	position: absolute;
	padding: 10px;
	max-width: 500px;
	text-align: center;
	width: 100%;
	border-radius: 8px;
	background-color: var(--info-bg);
	border: 1px solid var(--border-color);
	color: var(--fg-color-m);
	margin-left: 800px;
}

.infobox img {
	display: flex;
	max-width: 40%;
	max-height: 40%;
	margin-left: auto;
	margin-right: auto;
}

.msearch {
	background-color: var(--f-bg);
	border-bottom: 1px solid var(--border-color);
	width: 100%;
	margin-bottom: 10px;
}

.msearch h1 {
	margin-top: 0;
	position: absolute;
	top: 20px;
	left: 20px;
}

.msearch input[type="search"] {
	padding: 10px;
	font-size: inherit;
	position: relative;
	left: 200px;
	margin: 20px;
	margin-bottom: 5px;
	max-width: 550px;
	width: 100%;
	outline: 0;
	border-radius: 18px;
	background-color: var(--search-bg-color);
	border: 1px solid var(--search-border-color);
	color: var(--fg-color-m);
}

.msearch .sbuttons {
	margin-left: 20px;
	display: flex;
	padding: 2px;
}

.msearch .sbuttons button {
	font-size: 18px;
	border: 0;
	outline: 0;
	width: 100px;
	padding: 5px;
	background-color: transparent;
	color: var(--fg-color-m);
	display: flex;
  	align-items: center;
	margin: 15px;
	margin-bottom: 5px;
}

.bimage {
	max-height: 16px;
	max-width: 16px;
	margin-right: 4px;
	filter: brightness(400%);
}

#active {
	color: var(--a-color);
	border-bottom: 2px solid var(--a-color);
}

#active img {
	filter: none;
}

.vidimg {
	border-radius: 4px;
	max-width: 35%;
	max-height: 35%;
}

.image-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.correction-div {
	margin-left: 10px;
	padding: 5px;
	margin-bottom: 4px;
}

.i-result {
	max-width: 375px;
	max-height: 230px;
	margin: 5px;
	display: flex;
    align-items: center;
	justify-content: center;
	flex: 0 0 auto;
}

.i-result img {
	max-width: 375px;
	max-height: 230px;
	border-radius: 4px;
}

.i-result img:hover {
	filter: brightness(80%);
}

.rbuttons {
	margin-bottom: 35px;
	margin-left: 20px;
}

.pagebtn {
	color: var(--fg-color-m);
	font-size: 16px;
	background-color: var(--search-bg-color);
	outline: 0;
	border: 1px solid var(--search-border-color);
	padding: 10px 20px 10px 20px;
	border-radius: 5px;
	margin: 10px;
	margin-left: 60px;
}

.pagebtn:last-child {
	margin-right: 0;
	margin-left: 0;
}

select {
	color: var(--fg-color-m);
	font-size: 16px;
	background-color: var(--search-bg-color);
	outline: 0;
	border: 1px solid var(--search-border-color);
	padding: 5px 15px 5px 15px;
	border-radius: 18px;
}

#save, #reset, #home {
	color: var(--fg-color-m);
	font-size: 16px;
	background-color: var(--search-bg-color);
	outline: 0;
	border: 1px solid var(--search-border-color);
	padding: 10px 20px 10px 20px;
	border-radius: 5px;
	margin: 10px;
}

input[type="text"] {
	padding: 5px;
	font-size: 16px;
	max-width: 200px;
	width: 100%;
	outline: 0;
	border-radius: 18px;
	background-color: var(--search-bg-color);
	border: 1px solid var(--search-border-color);
	border-right: none;
	color: var(--fg-color-m);
}

@media only screen and (max-width: 750px) {
	body {
		font-size: 14px;
	}

	.msearch h1 {
		opacity: 0;
	}

	.msearch input[type="search"] {
		left: 20px;
		margin: 10px;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}

	.infobox {
		position: relative;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
	}

	.a-result {
		max-width: auto;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.msearch .sbuttons button {
		margin: 5px;
		font-size: 14px;
		width: 70px;
	}

	.indexform button img {
		width: 14px;
		height: 14px;
		margin-right: 3px;
	}	

	.indexform button {
		font-size: 14px;
	}

	.msearch .sbuttons {
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (max-width: 1280px) {
	.infobox {
		position: relative;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
	}

	.a-result {
		margin-left: auto;
		margin-right: auto;
	}
}